services:

  traefik:
    image: traefik:v2.10
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  # Auth Domain
  auth:
    build: ./auth
    container_name: auth
    environment:
      DB_HOST: auth-postgres
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      DB_SSL_MODE: ${DB_SSL_MODE}

      JWT_KEY: ${JWT_KEY}
      JWT_EXPIRE_TIME: ${JWT_EXPIRE_TIME}

      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_PORT: ${RABBITMQ_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_VHOST: ${RABBITMQ_VHOST}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      SERVER_PORT: ${AUTH_SERVER_PORT}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=Host(`auth.localhost`) || (Host(`localhost`) && PathPrefix(`/api/v1/auth`))"
      - "traefik.http.routers.auth.entrypoints=web"
      - "traefik.http.services.auth.loadbalancer.server.port=${AUTH_SERVER_PORT}"

    depends_on:
      auth-postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped

  auth-postgres:
    image: postgres:latest
    container_name: auth-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./auth-database/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # OTP Domain
  otp:
    build: ./otp
    container_name: otp
    environment:
      SERVER_PORT: ${OTP_SERVER_PORT}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SENDER: ${SMTP_SENDER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_PORT: ${RABBITMQ_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_VHOST: ${RABBITMQ_VHOST}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.otp.rule=Host(`otp.localhost`) || (Host(`localhost`) && PathPrefix(`/api/v1/otp`))"
      - "traefik.http.routers.otp.entrypoints=web"
      - "traefik.http.services.otp.loadbalancer.server.port=${OTP_SERVER_PORT}"
    depends_on:
      rabbitmq:
        condition: service_healthy
      otp-redis:
        condition: service_healthy
      mailhog:
        condition: service_healthy
    restart: unless-stopped

  otp-redis:
    image: redis:latest
    container_name: otp-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Infra

  rabbitmq:
    build: ./rabbitmq
    container_name: rabbitmq
    ports:
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  terraform:
    image: hashicorp/terraform:latest
    container_name: terraform
    environment:
      TF_VAR_rabbitmq_user: ${RABBITMQ_USER}
      TF_VAR_rabbitmq_password: ${RABBITMQ_PASSWORD}
    volumes:
      - ./terraform:/app
    working_dir: /app
    entrypoint: [ "sh", "-c", "terraform init && terraform apply -auto-approve" ]
    depends_on:
      rabbitmq:
        condition: service_healthy

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
    restart: always
    healthcheck:
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:8025/api/v2/messages" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

# Grafana
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./grafana/promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`monitor.localhost`)"
      - "traefik.http.routers.grafana.entrypoints=web"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"